[Unit]
Description=Drawbot Joystick Controller
PartOf=drawbot.service
After=drawbot.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u joystick.py
WorkingDirectory=/home/pi/git/drawbot
Environment="PYTHONPATH=/usr/local/lib/python3.9/dist-packages"
Restart=always

[Install]
WantedBy=drawbot.service
